flask
flask-socketio
requests
numpy
pandas
matplotlib
mplfinance
flask-sqlalchemy
beautifulsoup4
ccxt
openai
gtts
pyttsx3
pytz
sendgrid
ta
trafilatura
twilio
flask-wtf
werkzeug
pillow
svglib
reportlab
anthropic
feedparser
email-validator
flask-login
gunicorn
psycopg2-binary
python-telegram-bot